<%- include ("../partials/header") %>

<v-app>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-12">
        <div class="card recent-sales overflow-auto">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Liste des préstations au travail</h5>

            <v-data-table
              :headers="headers"
              :items="desserts"
              sort-by="calories"
              class="elevation-1"
            >
              <template v-slot:top>
                <v-toolbar flat>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-bind="attrs"
                        v-on="on"
                      >
                        Nouvelle prestation
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="text-h5">{{ formTitle }}</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="6" md="12">
                              <v-autocomplete
                                auto-select-first
                                filled
                                label="Entreprise"
                                solo
                                :items="enterprises"
                                item-value="num_enterprise"
                                item-text="design"
                                v-model="editedItem.enterprise"
                              ></v-autocomplete>
                            </v-col>
                            <v-col cols="12" sm="6" md="12">
                              <v-autocomplete
                              v-model="editedItem.employe"
                                auto-select-first
                                filled
                                item-value="num_employe"
                                item-text="nom"
                                label="Employé"
                                :items="employes"
                                solo
                            ></v-autocomplete>
                            </v-col>
                            <v-col cols="12" sm="6" md="12">
                              <v-text-field
                                v-model="editedItem.taux_horaire"
                                label="Taux horaire (Ar)"
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="12">
                              <v-text-field
                                v-model="editedItem.nb_heures"
                                label="Nombre d'heures (h)"
                              ></v-text-field>

                              <v-row justify="center">
                                <v-date-picker label="Date d'embauche" v-model="editedItem.date_embauche"></v-date-picker>
                              </v-row>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">
                          Cancel
                        </v-btn>
                        <v-btn color="blue darken-1" text @click="save">
                          Save
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h5"
                        >Are you sure you want to delete this
                        item?</v-card-title
                      >
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete"
                          >Cancel</v-btn
                        >
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="deleteItemConfirm"
                          >OK</v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:item.salaire="{ item }">
                <v-btn>{{ item.nb_heures * item.taux_horaire }}</v-btn>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize"> Reset </v-btn>
              </template>
            </v-data-table>
          </div>
        </div>
      </div>
      <!-- End Recent Sales -->
    </div>
  </div>
</v-app>

<%- include ("../partials/footer", { script : `
<script src="/assets/js/vue/travail.js"></script>
`}) %>
